DB_URL=jdbc:mysql://localhost:porta_banco/nome_banco
DB_USERNAME=root
DB_PASSWORD=sua_senha_local
JWT_SECRET=sua_chave_secreta_com_mais_de_32_caracteres
MAIL_USERNAME=seu-email-real@gmail.com
MAIL_PASSWORD=sua-senha-de-app